<div class="container">
    <mat-toolbar class="tool" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="titleText" fxLayout="row" fxLayoutGap="2%">
            <img src="../../assets/Book/icon(1).png" class="img-Icon" />
            <a id="text">BookStore</a>
        </div>

    </mat-toolbar>
    <h4 id="title">Forgot your Password?</h4>
</div>

<div class="forgotpass" fxLayoutAlign="center center">

    <div class="forgot">
        <p id="content">Enter an email address and we will send a link to reset your password</p>
        <div>
            <mat-label>Email Id</mat-label>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <input type="text" formControlName="email" matInput placeholder="">
                <mat-error>Enter an email address</mat-error>
            </mat-form-field>
        </div>
        <button mat-button class="primary">Reset Password</button>
        <div>
            <button mat-button class="button2" routerLink="/signUp">Create an Account</button>
        </div>
    </div>


</div> 
